#curso1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#curso2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

#curso3{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: 35px;
}

#curso4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#curso5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}